.SideBar {
   height: calc(100vh - var(--navbar-height));
   width: var(--sidebar-width);
   background-color: var(--inverted-bg-color);
   transition: width 0.4s;
   position: relative;
}

.links {
   max-width: 160px;
   display: flex;
   flex-direction: column;
   margin: 15px 0 0 30px;
}

.link {
   display: flex;
   align-items: center;
}

.link:not(:last-child) {
   margin-bottom: 15px;
}

.icons {
   fill: var(--inverted-primary-color);
   margin-right: 15px;
}

.linkText {
   opacity: 1;
   transition: opacity 0.1s ease-in;
}

.switchers {
   width: 100%;
   position: absolute;
   bottom: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.langSwitcher {
   margin-left: 10px;
}

.collapseBtn {
   position: absolute;
   right: -32px;
   bottom: 32px;
}

.collapse {
   width: var(--sidebar-width-collapsed);

   .switchers {
      display: flex;
      flex-direction: column;
   }

   .linkText {
      opacity: 0;
      width: 0;
   }
}
