.app_dark_theme {
   --bg-color: #00006b;
   --inverted-bg-color: #eaeaf1;
   --primary-color: #63fc2b;
   --secondary-color: #35bf03;
   --inverted-primary-color: #10028e;
   --inverted-secondary-color: #0015f9;
}
